[user]
    name = Bartek Mucha
    email = muchzill4@gmail.com

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto

[push]
    default = simple

[alias]
    co = checkout
    ap = add . -p
    a = add
    s = status
    ss = status -s
    q = pull
    p = push
    po = push origin
    c = commit -v
    ca = commit --amend -v
    cm = commit -v -m
    l = log --graph --pretty=oneline --abbrev-commit
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    d = diff
