[user]
  name = Bartosz Mucha
  email = muchzill4@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[push]
  default = simple

[alias]
  co = checkout
  ci = commit
  l =  log
  lo = log --oneline
  s = status
