snippet it
	t.Run("${1:description}", func(t *testing.T) {
		$2
	})

snippet st
	type ${1:name} struct {
		$2
	}

snippet in
	type ${1:name} interface {
		$2
	}

snippet fum
	func (${1:var} ${2:type}) ${3:fname}($4) $5{
		$6
	}

snippet fun
	func $1($2) {
		$3
	}

snippet ierr
	if err != nil {
		${1:return err}
	}
