# Fish
fisher.fish
fish_variables
fisher/
fzf_key_bindings.fish
fish_user_key_bindings.fish

# packer.nvim
packer_compiled.vim

# Shouldn't this be in ~/.local? (╯°□°）╯︵ ┻━┻
.netrwhist
configstore/
direnv/allow/

# Srsly Fusion360
Autodesk/
