dotfiles/.config/fish/functions/fisher.fish
dotfiles/.config/fish/fish_variables
dotfiles/.config/fisher/
dotfiles/.config/fish/functions/fzf_key_bindings.fish
dotfiles/.config/fish/functions/fish_user_key_bindings.fish

# Shouldn't this be in ~/.local? (╯°□°）╯︵ ┻━┻
dotfiles/.config/nvim/.netrwhist
dotfiles/.config/configstore/
dotfiles/.config/direnv/allow/

# Srsly Fusion360
dotfiles/.config/Autodesk/
