[core]
  excludesfile = ~/.gitignore

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[push]
  default = simple
  autoSetupRemote = true

[pull]
  ff = only

[init]
  defaultBranch = master
  templateDir = ~/.git_template

[include]
  path = ~/.gitconfig.local
