[user]
  name = Bartek Mucha
  email = muchzill4@gmail.com

[core]
  excludesfile = ~/.gitignore_global

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[push]
  default = simple
  autoSetupRemote = true

[pull]
  ff = only

[init]
  defaultBranch = master
  templateDir = ~/.git_template
